*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body
    height: 100%
    width: 100%

.main
    position: relative
    overflow: hidden
    .page
        position: relative
        height: 100vh
        width: 100vw
        background: #000
        .loop
            position: absolute
            top: 30%
            height: 25%
            width: 100%
            background: red
            font-size: 100px
            white-space: nowrap
    .page1
        height: 100vh
        width: 100vw
        background: indigo
    .page2
        height: 100vh
        width: 100vw
        background: red
    .page3
        height: 100vh
        width: 100vw
        background: green

canvas
    position: relative
    z-index: 9
    max-width: 100vw
    max-height: 100vh
